
body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.subtitle{
  text-transform: uppercase;
  padding-bottom: 5px; 
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
  color: gray;
}

.App{
  background-color: #eee;
  min-height: 100vh;
  width: 100vw;
}

.detail-container{
  padding-top: 20vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.search-bar-container{
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  font-family: Helvetica, sans-serif;
}

.title{
  font-size: 50px;
  padding-bottom: 10px;
}